{% extends defaultRigLayout or "layouts/default.html" %}

{% set title = "Clear session data?" %}

{% block content %}
  <form method="post">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">{{ title }}</h1>

        {{ warningCallout({
          heading: "Session data cleared",
          HTML: '<p><a class="nhsuk-link" href="/">Return to prototype homepage</a>.</p>'
        }) if success }}

        {{ insetText({
          html: "<p>This will clear all of the data entered in this session</p>"
        }) }}

        {{ button({
          text: "Clear the data"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
