{% extends defaultUnbrandedLayout or defaultRigLayout or "layouts/default.html" %}

{% set title = "This is a prototype used for research" %}

{% block content %}
  <form method="post">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [{
            text: error,
            href: "#password"
          }]
        }) if error }}

        <h1 class="nhsuk-heading-l">{{ title }}</h1>
        <p class="nhsuk-body">It is not a real service. You should only continue if you have been invited to test this prototype.</p>

        {{ input({
          classes: "nhsuk-input--width-10",
          label:{
            classes: "nhsuk-label--s",
            text: "Password"
          },
          decorate: "_password",
          id: "password",
          type: "password",
          errorMessage: {
            text: error
          } if error
        }) }}

        {{ input({
          decorate: "returnUrl",
          type: "hidden"
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>
{% endblock %}
