{% extends "template.njk" %}

{%- from "components/action-link/macro.njk" import actionLink %}
{%- from "components/back-link/macro.njk" import backLink %}
{%- from "components/breadcrumb/macro.njk" import breadcrumb %}
{%- from "components/card/macro.njk" import card %}
{%- from "components/contents-list/macro.njk" import contentsList %}
{%- from "components/details/macro.njk" import details %}
{%- from "components/do-dont-list/macro.njk" import list %}
{%- from "components/error-message/macro.njk" import errorMessage %}
{%- from "components/error-summary/macro.njk" import errorSummary %}
{%- from "components/fieldset/macro.njk" import fieldset %}
{%- from "components/footer/macro.njk" import footer %}
{%- from "components/header/macro.njk" import header %}
{%- from "components/hero/macro.njk" import hero %}
{%- from "components/hint/macro.njk" import hint %}
{%- from "components/images/macro.njk" import image %}
{%- from "components/inset-text/macro.njk" import insetText %}
{%- from "components/label/macro.njk" import label %}
{%- from "components/pagination/macro.njk" import pagination %}
{%- from "components/panel/macro.njk" import panel %}
{%- from "components/skip-link/macro.njk" import skipLink %}
{%- from "components/summary-list/macro.njk" import summaryList %}
{%- from "components/tabs/macro.njk" import tabs %}
{%- from "components/tables/macro.njk" import table %}
{%- from "components/tag/macro.njk" import tag %}
{%- from "components/warning-callout/macro.njk" import warningCallout %}

{%- from "x-nhsuk/decorated/button/macro.njk" import button with context %}
{%- from "x-nhsuk/decorated/checkboxes/macro.njk" import checkboxes with context %}
{%- from "x-nhsuk/decorated/date-input/macro.njk" import dateInput with context %}
{%- from "x-nhsuk/decorated/input/macro.njk" import input with context %}
{%- from "x-nhsuk/decorated/radios/macro.njk" import radios with context %}
{%- from "x-nhsuk/decorated/select/macro.njk" import select with context %}
{%- from "x-nhsuk/decorated/textarea/macro.njk" import textarea with context %}

{% block head %}
  <link rel="stylesheet" href="/assets/application.css" media="all">
  <script src="/assets/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if error -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK2" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false",
    containerClasses: "nhsuk-width-container"
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        label: "Clear session data",
        URL: "/clear-session-data"
      } if useAutoStoreData, {
        label: "Feature flags",
        URL: "/feature-flags"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {%- if data.validations %}
  <template id="nhsuk-error-summary-template">
    {{ errorSummary({
      classes: "nhsuk-u-width-two-thirds",
      titleText: "There is a problem"
    }) | indent(4) }}
  </template>
  <template id="nhsuk-error-message-template">
    {{ errorMessage() | indent(4) }}
  </template>
  <script src="/validate.js"></script>
  <script src="/form-validation.js"></script>
  <script type="application/json" id="form-validation">
    {{ data.validations | dump(2) | safe | indent(4) }}
  </script>
  {% endif -%}
  {%- if useAutoStoreData %}
  <script src="/auto-store-data.js"></script>
  {% endif -%}
  {%- if showLogs %}
  <script>console.log({{ data | dump | safe }});</script>
  {% endif -%}
{% endblock %}
