{% extends "layouts/default.html" %}

{% set title = "Application complete" %}

{% block pageNavigation %}
  {{ backLink({
    href: paths.back
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: title,
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <h2 class="nhsuk-heading-m">What happens next</h2>
      <p>This is the end of the example wizard journey.</p>

      {{ button({
        text: "Finish",
        href: paths.next
      }) }}
    </div>
  </div>
{% endblock %}
