{% extends "layouts/default.html" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set title = "What is your nationality?" %}

{% block pageNavigation %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: paths.back,
      classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="{{ paths.current }}" novalidate>
        {{ checkboxes({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true,
              text: title
            }
          },
          hint: {
            text: "If you have dual nationality, select all options that are relevant to you."
          },
          items: [{
            text: "British",
            hint: {
              text: "including English, Scottish, Welsh and Northern Irish"
            }
          }, {
            text: "Irish"
          }, {
            value: "other",
            text: "Citizen of another country"
          }],
          decorate: ["wizard", "nationality"]
        }) }}

        {{ button({
          html: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
