{% extends "layouts/default.html" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set title = "Where do you live?" %}

{% block pageNavigation %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: paths.back,
      classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="{{ paths.current }}" novalidate>
        {{ radios({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true,
              text: title
            }
          },
          items: [{
            text: "England"
          }, {
            text: "Scotland"
          }, {
            text: "Wales"
          }, {
            text: "Northern Ireland"
          }],
          decorate: ["wizard", "where-do-you-live"]
        }) }}

        {{ button({
          html: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
