{% extends "layouts/default.html" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set title = "Asking users for a date" %}

{% block pageNavigation %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: "#",
      classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" novalidate>
        {{ dateInput({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--l",
              isPageHeading: true,
              text: "When was your passport issued?"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          decorate: "passport-issued"
        }) }}

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
