{% extends "layouts/default.html" %}

{% set title = "Start page on NHS.UK" %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [{
      text: "Home",
      href: "https://www.gov.uk"
    }],
    text: "Section",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-xl">{{ serviceName }}</h1>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>Use this service to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>do something</li>
        <li>update your name, address or other details</li>
        <li>do something else</li>
      </ul>
      <p>Registering takes around 5 minutes.</p>

      {{ button({
        classes: "nhsuk-u-margin-top-2 nhsuk-u-margin-bottom-9",
        text: "Start now",
        isStartButton: true
      }) }}

      <h2 class="nhsuk-heading-m">Before you start</h2>
      <p>You can also <a href="#">register by post</a>.</p>
      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
      <p>You can’t register for this service if you’re in the UK illegally.</p>
    </div>
  </div>
{% endblock %}
