@use "nhsuk-frontend/dist/nhsuk" as *;

$_email-page-width: 640px;

.nhsuk-width-container--email {
  margin: 0 auto;
  max-width: $_email-page-width;
}

.app-email {
  background-color: transparent;
}

.app-email__header {
  .nhsuk-header__container {
    margin: 0;

    @include nhsuk-responsive-padding(5, "left");
    @include nhsuk-responsive-padding(5, "right");
  }
}

.app-email__metadata {
  @include nhsuk-font-size(16);
  @include nhsuk-responsive-margin(5);

  @include nhsuk-media-query($from: desktop) {
    margin-left: 0;
    margin-right: 0;
  }

  div {
    display: block;
    margin-bottom: nhsuk-spacing(1);
  }

  dt {
    display: inline-block;
    margin-right: nhsuk-spacing(1);
  }

  dd {
    display: inline-block;
    margin-left: 0;
  }
}

.app-email__message {
  background-color: nhsuk-colour("white");
  border: 1px solid $nhsuk-border-colour;
  border-radius: 10px 10px 0 0;
  border-top: nhsuk-spacing(4) solid $nhsuk-border-colour;
  padding: 0;
  max-width: $_email-page-width;

  * {
    font-family: system-ui, sans-serif;
  }
}

.app-email__message-content {
  @include nhsuk-responsive-padding(5);
}
