// GOV.UK Frontend options
$govuk-global-styles: false;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Prototype Components
@import "govuk-prototype-components/x-govuk/all";

@import "_email.scss";
@import "_unbranded.scss";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
