---
homepage: true
layout: product
includeInBreadcrumbs: true
description: All you need to prototype anything from simple static pages to complex, data-driven transactions.
image:
  src: /assets/homepage-illustration.svg
  alt: The Eleventy mascot floating above a laptop.
startButton:
  href: /get-started
eleventyComputed:
  title: "{{ pkg.description }}"
---
<div class="nhsuk-grid-row">
{% for item in collections["homepage"] %}
  <section class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-8">
    <h2 class="nhsuk-heading-m nhsuk-u-font-size-27">{{ item.data.title }}</h2>
    <p class="nhsuk-body">{{ item.data.description | markdown("inline") }}</p>
    <p class="nhsuk-body"><a class="nhsuk-link nhsuk-u-font-weight-bold" href="{{ item.url | url }}">{{ item.data.action }}</a></p>
  </section>
{% endfor %}
  <section class="nhsuk-grid-column-full">
    <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--xl nhsuk-u-margin-top-0">
    <h2 class="nhsuk-heading-m nhsuk-u-font-size-27">Contribute</h2>
    <p class="nhsuk-body">The project repository is public and we welcome contributions from anyone.</p>
    <p class="nhsuk-body"><a class="nhsuk-link nhsuk-u-font-weight-bold" href="{{ pkg.repository.url | replace(".git", "") }}">View this project on GitHub</a></p>
  </section>
</div>
