{% extends "template.njk" %}

{% block head %}
  <link rel="stylesheet" href="/assets/application.css" media="all">
  <script src="/assets/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false",
    containerClasses: "nhsuk-width-container"
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        label: "Clear session data",
        URL: "/clear-session-data"
      } if useAutoStoreData, {
        label: "Feature flags",
        URL: "/feature-flags"
      }
    ]
  }) }}
{% endblock %}
