{% extends "layouts/default.html" %}

{% set bodyClasses = "app-email" %}
{% set mainClasses = "app-email__message" %}
{% set containerClasses = "nhsuk-width-container--email" %}
{% set title = subject %}
{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block bodyStart %}
  <div class="nhsuk-width-container nhsuk-width-container--email">
    <dl class="app-email__metadata">
      <div>
        <dt class="nhsuk-u-visually-hidden">Subject:</dt>
        <dd><b class="govuk-heading-m govuk-!-margin-bottom-2">{{ subject }}</b></dd>
      </div>
      <div>
        <dt>From:</dt>
        <dd>{{ from or "GOV.UK <service@gov.uk>" }}<dd>
      </div>
      <div>
        <dt>To:</dt>
        <dd>{{ to or "Name <name@example.com>" }}</dd>
      </div>
    </dl>
  </div>
{% endblock %}

{% block content %}
  {{ header({
    transactionalService: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false",
    classes: "app-email__header"
  }) }}

  <div class="app-email__message-content">
    {% block email %}{% endblock %}
  </div>
{% endblock %}
